.op { font-family: courier; color: olive; }
.mod { color: darkgreen; }
.info { color: darkred; }
body { font-family: arial; font-size: smaller; }
h3 { text-decoration: underline; font-weight: normal; }
.c_code { font-family: courier; font-size: normal; color: darkblue; }